.cartCard {
    margin-top: 10px;
    .card {
        margin: 18px 0;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px #9d9d9d38;
        border-radius: 15px;
        border: none;
    }
}

.cartTitle {
    margin: 40px 0;
    border-bottom: 1px solid #828282;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 1.25em;
    color: #000F28;
    a {
        position: absolute;
        left: 0px;
    }
    button {
        border: none;
        background-color: transparent;
        color: #828282;
    }
    span {
        vertical-align: middle;
        margin-left: 5px;
        font-size: 0.8em;
    }
}

.cardFirstBox {
    width: 40%;
    display: flex;
    align-items: center;
    .cartImg {
        margin: 0;
        margin-right: 20px;
    }
}

.cartCardContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        padding: 5px 10px;
        width: 20%;
    }
    i {
        font-size: 1.25em;
        padding: 10px;
        color: red;
        cursor: pointer;
        &:hover {
            color: rgb(198, 0, 0);
        }
        &[disabled="true"] {
            color: #ffb4b4;
        }
    }
}

// 價格總計、優惠券
.cartTotal {
    background: #F9F8F8;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 40px;
    .input-group {
        width: 50%;
    }
    button {
        color: #fff;
        background: #9747FF;
        border: 1px solid #9747FF;
        border-radius: 0px 5px 5px 0px;
    }
}

.priceBox {
    display: inline-block;
    width: 80px;
    text-align: right;
}

.bigPrice {
    width: auto;
    font-weight: 700;
    font-size: 2.5em;
}

// 客戶訂單資料
.orderForm {
    color: #4B178E;
    background: rgba(151, 71, 255, 0.3);
    border-radius: 15px;
    padding: 30px;
    margin-top: 36px;
    max-width: 375px;
    height: 80vh;
    p {
        font-weight: 700;
        font-size: 1.25em;
        text-align: center;
        color: #4B178E;
    }
    .form-control {
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #9747FF;
        border-radius: 5px;
        color: #4B178E;
        max-height: 14vh;
        &:focus {
            color: #4B178E;
        }
    }
    label {
        margin: 0;
    }
}
.fixForm {
    position: fixed;
    right: 0;
    top: 80px;
}