.banner {
    height: 724px;
    // background-image: url(/public/ffxiv_banner.jpeg);
    background: url(/public/ffxiv_banner.jpeg) no-repeat center center / cover;
}

.bannerShadow {
    position: absolute;
    width: 100%;
    height: 326px;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.bannerText {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 26px;
    color: #FFFFFF;
    position: absolute;
    left: 10%;
    top: 520px;
}

.scrollArrow {
    position: absolute;
    right: 3%;
    top: 70%;
    color: #FFFFFF;
    span {
        position: absolute;
        transform: rotate(-90deg);
        top: 9px;
        right: -4px;
    }
}

// 販售種類
.saleItem {
    padding: 40px 0;
    background-image: url(/public/bg_repeat.png);
    background-repeat: repeat;
    background-color: #000F28;
    border-radius: 0px;
    text-align: center;
}
.indexTitle {
    color: #FFFFFF;
    position: relative;
}
.indexTitle::after {
    content: 'Item';
    color: rgba(151, 71, 255, 0.5);
    position: absolute;
    top: 20px;
    left: 25%;
}
.saleItemList {
    background-color: #FFFFFF;
    width: 13%;
    margin: 0 10px;
    // text-align: center;
    border-radius: 15px;
    img {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    a {
        text-decoration: none;
    }
}