.breadBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    .breadcrumb {
        margin-bottom: 0px;
    }
    a {
        text-decoration: none;
        color: #828282;
        &:hover {
            color: #3b3b3b;
        }
    }
    button {
        border: none;
        background-color: transparent;
        color: #828282;
        &:hover {
            color: #3b3b3b;
        }
    }
    span {
        vertical-align: middle;
        margin-left: 5px;
    }
}
// 圖片投影片
.lightBox {
    text-align: center;
}
:root {
    --swiper-theme-color: #9747ff;
    --swiper-pagination-bottom: 0px;

}